.todoContainer {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 15px 0;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 2px solid #555;
  color: #112d49;
  background-color: #fbfef9;
}

.todoText {
  width: 100%;
  text-align: left;
}
.todoIcon {
  font-size: 1.8rem;
  margin-right: 10px;
  color: teal;
}
.completedTodo {
  background-color: transparent;
  border-color: #808080;
  color: #808080;
}
.todo.completedTodo .todoIcon,
.todo.completedTodo .checkIcon,
.todo.completedTodo .deleteIcon {
  color: #808080;
}
.checkIcon,
.deleteIcon {
  cursor: pointer;
  color: lightgray;
  padding: 0 7px;
  font-size: 1.8rem;
  transition: scale 0.3s linear;
}
.checkIcon:hover,
.deleteIcon:hover {
  cursor: pointer;
  scale: 1.3;
}
.checkIcon:hover {
  color: green;
}
.deleteIcon:hover {
  color: red;
}
